body{
    font-family: 'Saira Condensed', sans-serif;
    background-image: url(../img/diagmonds.png);
    background-color: #bfd63e;
}

div .url{
    text-align: center;
}
.row{
    padding: 20px 20px 20px 20px;
    margin-right: 50px;
}
.barra{
    background-color: #fdd20fec;
}
.barra ul li a{
    color: black;
}

nav .nombre a{
    color: black;
}

div .boton{
    background-color: black;
    padding: 15px;
    border-radius: 30px;
    margin-left: 60px;
}
nav div .nombre{
    margin-left: 20px;
}