body{
    background-image: url(../img/diagmonds.png);
    background-color:#FAD7A0 ;
    font-family: 'Saira Condensed', sans-serif;
}

nav ul li a{
    color:#fff;
}
.barra{
    background-color: rgb(11, 30, 114);
}
.form{
    background-color: white;
}
.relleno{
    padding: 100px;
}
.boton{
    width: 100%;
    border-radius: 20px;
}
input{
    font-family: 'Saira Condensed', sans-serif;
}
nav div .nombre{
    margin-left: 20px;
}